nav
  ul.nav.nav-justified
    li.active
      a(href='/') Home
    li
      a(href='/pessoas') Contatos
    li
      a(href='/usuarios') Usuários
    li
      a(href='/email') Entrar em contato
    li
      a(href='/') Usuário logado[sair]
